html,body{
  height:100%;
 overflow-x: hidden;




}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.navigation{
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
background-color: rgba(136,136,136, 0.5);
-moz-box-shadow: 1px 5px 8px #e6e6e6;
-webkit-box-shadow: 1px 5px 8px #e6e6e6;
box-shadow: 1px 5px 8px #e6e6e6;
width:100%;
position: fixed;
z-index: 3;



}
.navigation-logo{
height: auto;
width: auto;
}
.navigation__list{
font-family: 'Paytone One', sans-serif;
  font-size: 5vw;
padding: 20px;
list-style-type: none;

}
.navigation__list__item{

display: inline-flex;

}
.navigation__list__item a:hover{
color: black;
}
.navigation__list__item > a{
text-decoration: none;
color: white;
}


.bg-image{
background-image: url("images/bg.png");
filter: blur(8px);
height:100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.bg-text{
background-color: rgba(0,0,0, 0.4); /* Fallback color */
color: #3F3F3F;
font-weight: bold;
border: 3px solid #f1f1f1;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
width: 100%;
padding: 20px;
text-align: center;
font-size: 50px;
font-family: 'Fahkwang', sans-serif;
}
.link__newsettler{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  padding: 40px;
  background-color: rgba(2, 2, 11, 0.9);
  color:  white;
  border-radius: 26%;
  border: 0px;
  display: flex;
  z-index: 2;
  transition: width 2s;

}
.link__newsettler :hover{


}
​.link__newsettler a:visited, a:link, a:hover{
    text-decoration: none;

}

.footer{
background-color: grey;
height: 3.5em;
}
.footer__icons{
font-size: 3em;
 color: black;
 display: flex;
 justify-content: space-around;
}
.footer__icons__link{
color: black;
}


@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;

  }
}
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column;
}

  }
