html,body{
  height:100%;
font-style: italic;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.navigation{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  background-color: gray;
width:100%;
position: fixed;
z-index: 2;
flex-direction: column;

}
.navigation__list{
  font-family:monospace;
  font-size: 3vh;
padding: 20px;
list-style-type: none;

}
.navigation__list__item{



}
.navigation__list__item a:hover{
color: black;
}
.navigation__list__item > a{
text-decoration: none;
color: white;
}


.bg-image{
background-image: url("images/bg.png");
filter: blur(8px);
height:100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.bg-text{
background-color: rgba(0,0,0, 0.4); /* Fallback color */
color: #3F3F3F;
font-weight: bold;
border: 3px solid #f1f1f1;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
width: 100%;
padding: 20px;
text-align: center;
font-size: 50px;
}
.link__newsettler{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 20px;
  background-color: rgba(25, 2, 0, 0.5);
  color:  white;
  border-radius: 20%;
  border: 0px;
  cursor: crosshair;
  display: flex;
  z-index: 2;
}

.button__newsettler :hover{
background-color: grey;
border:0px;

}
.button__newsettler :active{
border:0px;
}
@media all and (max-width: 800px)
{
.navigation{
  justify-content: space-around;
}
}
@media all and (max-width: 500px){
.navigation{
 flex-direction: column;
}
}
